
*.csv
cmake-build-debug/.cmake/api/v1/query/cache-v2
*.json
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.ninja
*.cmake
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/crossGraphKclub.dir/classes.cpp.o
cmake-build-debug/CMakeFiles/crossGraphKclub.dir/functions.cpp.o
cmake-build-debug/CMakeFiles/crossGraphKclub.dir/main.cpp.o
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/crossGraphKclub
cmake-build-debug/Testing/Temporary/LastTest.log
instances/.DS_Store
.DS_Store
